form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

textarea {
  height: 3em;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid;
}

.tweeter-button {
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: #4056a1;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-family: "Bungee", sans-serif;
  padding: 5px 10px;
}

.counter {
  font-family: "Bungee", sans-serif;
}

::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
